/*
Name:Tommy Lee Truong
Last Edit:Jan 26 2022
Program Name: My Curriculum Vitae Site

style for homepage
*/
body{
	margin:0;
	z-index:0;
	background-image: linear-gradient(rgba(105,177,185,0.65),rgba(0,0,0,0.7)),url('banner_2.jpg');
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	overflow:hidden;
	min-height: 100vw;
	min-width: 100vw;

}
header{
	text-align: center;
	font-family: "Cambria", Garamond,serif;
	font-size:12vh;
	font-weight:300;
	text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#subtitle{
	text-align: center;
	font-family: verdana,san-serif;
	font-style: italic;
	font-size: 2.5vh;
	font-weight: 300;
	text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.title{
  	height: 100%;
	width:100%;
	top:0;
	left:15vw;
	position: fixed;
	z-index:1;
}
.cube{
	display:inline-block;
	margin: 0 0.5vw;
}
.icon{
	border-radius: 25%;
	width:40px;
	height:40px;
	border: 1px solid white;
	object-fit:cover;
}
.icon:hover{	border: 2px solid rgb(105,177,185);}
.icon:active{	border: 2px solid rgb(105,177,185);}
.shrimp{
	border-radius: 0%;
	width:63vh;
	border: 0px solid rgb(255,255,255);
	object-fit:cover;
	z-index:-1;
}
.title_spacing{
	position:absolute; 
	top:35%;
	left:25%	
}
.shrimp_spacing{
	position:relative; 
	top:13%;
	left:35%;	
}
@media only screen and (orientation: portrait){
	body{
		background-image: linear-gradient(rgba(105,177,185,0.65),rgba(105,177,185,0.67),rgba(0,0,0,0.6)),url('banner_2.jpg');
	}
	header{
		font-size:10vh;
	}
	.title{
		left:0;
	}
	#subtitle{
		font-size: 3vh;
	}
	.icon{
		width:80px;
		height:80px;
	}
	.shrimp{
		width:95vw;
	}
	.title_spacing{
		left:0%	
	}
	.shrimp_spacing{
		top:25.5%;
		left:3%;	
	}
}
@media only screen and (orientation: landscape){

	@media only screen and (min-width:760px){
		header{font-size:10vh;}
		.title_spacing{
			position:absolute; 
			top:35%;
			left:15%	
		}
		.shrimp_spacing{
			position:relative; 
			top:13%;
			left:25%;	
		}
	}
	@media only screen and (min-width:1200px){
		header{font-size:12vh;}
		.title_spacing{
			position:absolute; 
			top:35%;
			left:25%	
		}
		.shrimp_spacing{
			position:relative; 
			top:13%;
			left:35%;	
		}
	}

}